# <center><b>PFDS</b></center> 
# <center><b>Asg 12.1</b></center> 
# <center><b>Strings</b></center>

In [9]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<div class="alert alert-block alert-success"><b>Question #1:</b>

What is the result of each of the following?
<p>&nbsp;</p>    
a. "Python"[3]
<p>&nbsp;</p> 
b. "Python"[-1]
<p>&nbsp;</p> 
c. "Python"[0]
<p>&nbsp;</p> 
d. "Seaborn is a Python data visualization library based on matplotlib."[3:15]
<p>&nbsp;</p> 
e. "Seaborn is a Python data visualization library based on matplotlib."[-10:-1]
<p>&nbsp;</p> 
f.  "Seaborn is a Python data visualization library based on matplotlib."[ : ]
<p>&nbsp;</p> 
g. "A pandas groupby operation involves some combination of splitting the object, applying a function, and combining the results."[:16] 
<p>&nbsp;</p> 
h. "A pandas groupby operation involves some combination of splitting the object, applying a function, and combining the results."[117:]  
</div>

In [1]:
print('h')

h

In [2]:
print('n')

n

In [3]:
print('P')

P

In [ ]:
print('born is a Py')

In [5]:
print('atpotlib')

atplotlib

In [7]:
print("Seaborn is a Python data visualization library based on matplotlib.")

Seaborn is a Python data visualization library based on matplotlib.

In [8]:
print("A pandas groupby")

A pandas groupby

In [10]:
print("results.")

results.

<div class="alert alert-block alert-success"><b>Question #2:</b>
<p>&nbsp;</p>    
What is the result of each of the following?
<p>&nbsp;</p>  
a. print('x' in 'matplotlib')
<p>&nbsp;</p> 
b. print('t' in 'matplotlib')
<p>&nbsp;</p> 
c. print('plot' in 'matplotlib')
<p>&nbsp;</p> 
d. print('math' in 'matplotlib')
<p>&nbsp;</p> 
e. print('math' not in 'matplotlib')
<p>&nbsp;</p> 
f. print('plot' not in 'matplotlib')
<p>&nbsp;</p> 
g. print('M' in 'matplotlib') 
</div>

In [13]:
print('false')

false

In [12]:
print('true')

True

In [11]:
print('true')

True

In [14]:
print('false')

false

In [15]:
print('true')

true

In [16]:
print('false')

false

In [17]:
print('false')

false

<div class="alert alert-block alert-success"><b>Question #3:</b>
<p>&nbsp;</p>    
What is the result of each of the following?
<p>&nbsp;</p> 
a. ‘pandas’ > ‘numpy’
<p>&nbsp;</p> 
b. ‘pandas’ == ‘Pandas’
<p>&nbsp;</p> 
c. 'pandas' > 'Pandas'
<p>&nbsp;</p> 
d. 'numpy' == 'numpy'

In [23]:
print('true')

true

In [24]:
print('false')

false

In [25]:
print('true')

true

In [26]:
print('true')

true

<div class="alert alert-block alert-success"><b>Question #4:</b>
<p>&nbsp;</p>    
a. Define a string that contains the word <i><b>Problem</b></i> and define another string as the word <i><b>Solving</b></i>. Combine these two strings to make the phrase <i><b>Problem Solving</b></i>. Do this two different ways with regard to getting the space between the two words. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
b. Define a string that contains the number 4 and a string that contains the number 7. Combine these two strings with the + operator. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
c. Define an integer as the number 4 and an integer as the number 7. Combine these two integers with the + operator. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
d. Explain why the output from (b) was different than the output from (c). To do this, assign your string explanation to a variable named explanation_1 and print out that variable. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
e. Define a string that contains the number <b>3</b> and a string that contains the number <b>14</b>. Write code that uses these strings to produce the string output <b>3.14</b>. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
f. Multiply the string 5 by the string 4 using the multiplication operator *. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
g. Multiply the integer 5 by the integer 4 using the multiplication operator *. Print a blank line when you are done with this part.
<p>&nbsp;</p> 
h. Explain why the output in (f) was different from the output in (g). To do this, assign your string explanation to a variable named explanation_2 and print out that variable. Print a blank line when you are done with this part.
</div>

In [29]:
problem = 'Problem '
solving = 'Solving'
problem_solving = problem + solving
print(problem_solving)

problem = 'Problem'
solving = ' Solving'
problem_solving = problem + solving
print(problem_solving, '\n')

Problem Solving
Problem Solving

In [35]:
four = '4'
seven = '7'
print(four + seven, '\n')

47

In [36]:
four = 4
seven = 7
print(four + seven, '\n')

11

In [43]:
explanation_1 = "this is because the integers are added together in python using the '+' operator. conversely, strings are concatenated."
print(explanation_1)

this is because the integers are added together in python using the '+' operator. conversely, strings are concatenated.

In [39]:
first = 3
second = 14
print(first, second, sep='.')

3.14

In [46]:
first = '5'
second = '4'
print(first*second, end='\n')

TypeError: can't multiply sequence by non-int of type 'str'

In [47]:
first = 5
second = 4
print(first*second, end='\n')

20

In [48]:
explanation_2 = 'this is because you can\'t multiply two strings together, whereas you are able to multiply ints'
print(explanation_2)

this is because you can't multiply two strings together, whereas you are able to multiply ints

<div class="alert alert-block alert-success"><b>Question #5:</b>

Complete the following index and slicing operations after assigning the string 'Concatenate' to the variable <b>word</b>.
<p>&nbsp;</p> 
<center><i><b>Note: Write a print statement at the end of each part to output a blank line.</b></i></center>
<p>&nbsp;</p> 
a. Pull out the letter <i>C</i> from word.
<p>&nbsp;</p>    
b. Pull out the first four letters <i>Conc</i> from word.
<p>&nbsp;</p> 
c. Pull out the sixth through 8th letters <i>ten</i> from word.
<p>&nbsp;</p> 
d. Pull out every other letter from word starting with C (i.e. produce <i>Cnaeae</i> as your output.)
<p>&nbsp;</p> 
e. Pull out every third letter from word starting with o (i.e. produce <i>oane</i> as your output.)
<p>&nbsp;</p> 
f. Use indexing and slicing to output word backwards to produce <i>etanetacnoC</i> 
</div>

## Answers for Question #5

Note: Before doing Question #5 you may want to read the following handout:

[Advanced String Slicing](https://drive.google.com/file/d/153mM7pEgLHzNdJtip_bxOottivtZGx20/view?usp=sharing)

Source:  <b>Problem Solving with Python</b> by Peter D. Kazarinoff

In [49]:
word = 'Concatenate'
print(word[0])

C

In [50]:
word = 'Concatenate'
print(word[0:4])

Conc

In [52]:
word = 'Concatenate'
print(word[5:8])

ten

In [53]:
word = 'Concatenate'
print(word[: : 2])

Cnaeae

In [55]:
word = 'Concatenate'
print(word[1: : 3])

oane

In [57]:
word = 'Concatenate'
print(word[: : -1])

etanetacnoC

<div class="alert alert-block alert-success"><b>Question #6:</b>
<p>&nbsp;</p> 
Define a string v as <i><b>Lemonade</b></i>, define a string w as <i><b>it's</b></i>, define a string x as <i><b>really</b></i>, define a string y as <i><b>cold!</b></i>, and a string z as <i><b>,</b></i> (... i.e as a comma).
<p>&nbsp;</p>     
a. Combine the strings v, w, x, y, and z to produce the string <i><b>Lemonade, it's really cold!</b></b> 
<p>&nbsp;</p> 
<center><i><b>Note: Write a print statement at the end of part (a) to output a blank line.</b></i></center>
<p>&nbsp;</p>     
b. Print out the statement <i><b>"Donald Trump said "Lemonade, it's reallyreally cold!"</b></i> using the variables v, w, x, y, and z. 
<p>&nbsp;</p> 
<center><i><b>(Note:'reallyreally' was intentionally written that way -- do not change it!)</b></i></center> 
</div>

In [63]:
v = 'Lemonade'
w = "it's "
x = 'really '
y = 'cold!'
z = ', '
print(v+z+w+x+y)

Lemonade, it's really cold!

In [76]:
v = 'Lemonade'
w = "it's "
x = 'really'
y = 'cold!'
z = ', '
print("Donald Trump said \""+v+z+w+x+x,y+ "\"")

Donald Trump said "Lemonade, it's reallyreally cold!"

<div class="alert alert-block alert-success"><b>Question #6:</b><br>
    
Use the string <b>functions and packages</b> and slicing to produce the following words:
<p>&nbsp;</p>  
a. pack
<p>&nbsp;</p> 
b. fun
<p>&nbsp;</p> 
c. age 
</div>

In [77]:
str = 'functions and packages'
print(str[14:18])

pack

In [78]:
str = 'functions and packages'
print(str[0:3])

fun

In [80]:
str = 'functions and packages'
print(str[18:22])

ages

<div class="alert alert-block alert-success"><b>Question #8:</b>

city = Elm Grove
<p>&nbsp;</p>    
a. Use the appropriate method on the string city to return the output Elm grove.
<p>&nbsp;</p> 
b. Use the appropriate method on the string city to return the output elm grove.
<p>&nbsp;</p> 
c. Use the appropriate method on the string city to return the output ELM GROVE.
<p>&nbsp;</p> 
d. Use the appropriate method on the string city to return the number of time the character 'e' appears in the string city. 
</div>

In [84]:
city = "Elm Grove"
print(city[0:3], city[4].lower()+city[5:9])

Elm grove

In [85]:
city = "Elm Grove"
print(city.lower())

elm grove

In [86]:
city = "Elm Grove"
print(city.upper())

ELM GROVE

In [91]:
city = "Elm Grove"
print(city.count('e'))

1

<div class="alert alert-block alert-success"><b>Question #9:</b>
<p>&nbsp;</p
    <center><i><b>Note: Write a print statement at the end of each part to output a blank line.</b></i></center>
<p>&nbsp;</p> 
course = "&emsp;Python for Data Science&emsp;    "
<p>&nbsp;</p> 
a. print(course)
<p>&nbsp;</p> 
b. Use the appropriate method on the string course to return a string with the leading and trailing whitespace removed.
<p>&nbsp;</p> 
c. Use the appropriate method on the string course to return a string with the trailing whitespace removed.
<p>&nbsp;</p> 
d. Use the appropriate method on the string course to return a string with the leading whitespace removed.
<p>&nbsp;</p> 
e. Use the appropriate method on the string course to return the string <b>FunPythonforDataScienceFun</b>.
<p>&nbsp;</p> 
f. Use the appropriate method on the string course to return the string <b>Fun&emsp;PythonforDataScienceFun</b>.
<p>&nbsp;</p> 
g. Use the appropriate method on the string course to return the string <b>FunPythonforDataScience&emsp;Fun</b>.
</div>

In [94]:
course = "  Python for Data Science  "
print(course)

  Python for Data Science

In [95]:
course = "  Python for Data Science  "
print(course.strip())

Python for Data Science

In [96]:
course = "  Python for Data Science  "
print(course.rstrip())

  Python for Data Science

In [97]:
course = "  Python for Data Science  "
print(course.lstrip())

Python for Data Science

In [111]:
course = "  Python for Data Science  "
print(course.rstrip())

  Python for Data Science

In [1]:
course = "  Python for Data Science  "
print(course.replace('  ', 'Fun').replace(' ', '').replace('Fun', 'Fun  '))

Fun  PythonforDataScienceFun

In [113]:
course = "  Python for Data Science  "
print(course.replace('  ', 'Fun', 1).replace('  ', '  Fun').replace(' ', '', 3))

FunPythonforDataScience  Fun

<div class="alert alert-block alert-success"><b>Question #10:</b>
<p>&nbsp;</p>    
str = 'Python is hard!'
<p>&nbsp;</p> 
Use the appropriate method on the string str to return a string that replaces the word <b>hard</b> with the word <b>easy</b>. 
</div>

In [114]:
str = 'Python is hard!'
print(str.replace('hard', 'easy'))

Python is easy!

<div class="alert alert-block alert-danger"><b>Note:</b> 
 
* Once you are satisfied with your results, submit your .ipynb notebook and html or PDF file to Google Classroom. 
 
* Your files should include all output, i.e., run each cell and save your file before submitting.

</div>