# <center><b>Python for Data Science</b></center>
# <center><b>Lesson 14</b></center>
# <center><b>Set Methods</b></center>

<center><i>Adapted from:</i></center>
<center>*****************</center>
<center>Python Set Methods (w3schools)</center>

[Python Set Methods (w3schools)](https://www.w3schools.com/python/python_ref_set.asp#:~:text=Python%20Set%20Methods%20%20%20%20Method%20,difference%20%20...%20%2013%20more%20rows%20)

##  <span style="color:green">TABLE OF CONTENTS</span>

1. [add()](#1)<br>
2. [clear()](#2)<br>
3. [copy()](#3)<br>
4. [difference()](#4)<br>
5. [difference_update()](#5)<br>
6. [discard()](#6)<br>
7. [intersection()](#7)<br>
8. [intersection_update()](#8)<br>
9. [isdisjoint()](#9)<br>
10. [issubset()](#10)<br>
11. [issuperset()](#11)<br>
12. [pop()](#12)<br>
13. [remove()](#13)<br>
14. [symmetric_difference()](#14)<br>
15. [symmetric_difference_update()](#15)<br>
16. [union()](#16)
17. [update()](#17)

In [14]:
# set up notebook to display multiple output in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("This notebook is now set up to display multiple output in one cell.")

This notebook is now set up to display multiple output in one cell.

<a class="anchor" id="1"></a>
<div class="alert alert-block alert-info">
<b><font size="4">1. add()</font></b></div>

- Adds an element to the set

In [3]:
directions = {"north", "south", "east"}
print(directions)

directions.add("west")
print(directions)

{'north', 'east', 'south'}
{'north', 'west', 'east', 'south'}

<a class="anchor" id="2"></a>
<div class="alert alert-block alert-info">
<b><font size="4">2. clear()</font></b></div>

- 	Removes all the elements from the set

In [4]:
directions = {"north", "south", "east", "west"}
print(directions)

directions.clear()
print(directions)

{'north', 'west', 'east', 'south'}
set()

<a class="anchor" id="3"></a>
<div class="alert alert-block alert-info">
<b><font size="4">3. copy()</font></b></div>

- Returns a copy of the set

In [ ]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

In [5]:
directions = {"north", "south", "east", "west"}
print(directions)

x = directions.copy()
print(x)

{'north', 'west', 'east', 'south'}
{'north', 'west', 'east', 'south'}

<a class="anchor" id="4"></a>
<div class="alert alert-block alert-info">
<b><font size="4">4. difference()</font></b></div>

- Returns a set containing the difference between two or more sets

In [9]:
a = {"golf", "tennis", "soccer", "baseball"}
b = {"football", "basketball", "tennis", "baseball"}

c = a.difference(b)
print(c)

d = b.difference(a)
print(d)

{'soccer', 'golf'}
{'football', 'basketball'}

<a class="anchor" id="5"></a>
<div class="alert alert-block alert-info">
<b><font size="4">5. difference_update()</font></b></div>

- Removes the items in this set that are also included in another, specified set

In [12]:
a = {"golf", "tennis", "soccer", "baseball"}
b = {"football", "basketball", "tennis", "baseball"}

a.difference_update(b)
print(a)

{'soccer', 'golf'}

<a class="anchor" id="6"></a>
<div class="alert alert-block alert-info">
<b><font size="4">6. discard()</font></b></div>

- Remove the specified item

In [ ]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

In [15]:
directions = {"north", "south", "east", "west"}
print(directions)

directions.discard("east")
print(directions)

{'north', 'west', 'east', 'south'}
{'north', 'west', 'south'}

<a class="anchor" id="7"></a>
<div class="alert alert-block alert-info">
<b><font size="4">7. intersection()</font></b></div>

- Returns a set, that is the intersection of two or more sets

In [19]:
tom = {"Calculus", "Chemistry", "Spanish", "World History"}
mary = {"Calculus", "Biology", "French", "World History"}
ed = {"Calculus", "Physics", "Spanish", "World History"}

x = tom.intersection(mary)
print(x)

y = tom.intersection(ed)
print(y)

z = tom.intersection(mary, ed)
print(z)

{'Calculus', 'World History'}
{'Calculus', 'Spanish', 'World History'}
{'Calculus', 'World History'}

<a class="anchor" id="8"></a>
<div class="alert alert-block alert-info">
<b><font size="4">8. intersection_update()</font></b></div>

- Removes the items in this set that are not present in other, specified set(s)

In [20]:
x = {"red", "pizza", "rap", "ice cream" }
y = {"blue", "pizza", "jazz", "cake"}

print(x)

x.intersection_update(y)

print(x)

{'pizza', 'ice cream', 'rap', 'red'}
{'pizza'}

<a class="anchor" id="9"></a>
<div class="alert alert-block alert-info">
<b><font size="4">9. isdisjoint()</font></b></div>

- Returns whether two sets have a intersection or not

In [25]:
x = {"Brookfield", "Wauwatosa", "Elm Grove"}
y = {"Milwaukee", "Waukesha", "New Berlin"}
z = {"West Allis", "Wauwatosa", "Oak Creek"}

a = x.isdisjoint(y)
print(a)

b = x.isdisjoint(z)
print(b)

True
False

<a class="anchor" id="10"></a>
<div class="alert alert-block alert-info">
<b><font size="4">10. issubset()</font></b></div>

- Returns whether another set contains this set or not

In [26]:
a = {"red", "yellow", "blue"}
b = {"red", "yellow", "blue", "orange", "green", "purple"}

x = a.issubset(b)
print(x)

y = b.issubset(a)
print(y)

True
False

<a class="anchor" id="11"></a>
<div class="alert alert-block alert-info">
<b><font size="4">11. issuperset()</font></b></div>

- Returns whether this set contains another set or not

In [27]:
a = {"red", "yellow", "blue"}
b = {"red", "yellow", "blue", "orange", "green", "purple"}

x = a.issuperset(b)
print(x)

y = b.issuperset(a)
print(y)

False
True

<a class="anchor" id="12"></a>
<div class="alert alert-block alert-info">
<b><font size="4">12. pop()</font></b></div>

- Removes an element from the set

In [35]:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

sports = {"golf", "tennis", "baseball", "football"}
sports.pop()
print(sports)

colors = {"red", "white", "blue"}
colors.pop()
print(colors)

{'banana', 'cherry'}
{'tennis', 'golf', 'football'}
{'blue', 'red'}

<a class="anchor" id="13"></a>
<div class="alert alert-block alert-info">
<b><font size="4">13. remove()</font></b></div>

- Removes the specified element

In [38]:
sports = {"golf", "tennis", "baseball", "football"}
print(sports)

sports.remove("baseball")
print(sports)

{'baseball', 'tennis', 'golf', 'football'}
{'tennis', 'golf', 'football'}

<a class="anchor" id="14"></a>
<div class="alert alert-block alert-info">
<b><font size="4">14. symmetric_difference()</font></b></div>

- Returns a set with the symmetric differences of two sets

In [40]:
a = {"golf", "tennis", "baseball", "football"}
b = {"golf", "volleyball", "tennis", "basketball"}

x = a.symmetric_difference(b)
print(x)

{'volleyball', 'football', 'baseball', 'basketball'}

<a class="anchor" id="15"></a>
<div class="alert alert-block alert-info">
<b><font size="4">15. symmetric_difference_update()</font></b></div>

- inserts the symmetric differences from this set and another

In [42]:
a = {"golf", "tennis", "baseball", "football"}
b = {"golf", "volleyball", "tennis", "basketball"}

a.symmetric_difference_update(b)
print(a)

{'volleyball', 'football', 'baseball', 'basketball'}

<a class="anchor" id="16"></a>
<div class="alert alert-block alert-info">
<b><font size="4">16. union</font></b></div>

- Return a set containing the union of sets

In [43]:
a = {"golf", "tennis", "baseball", "football"}
b = {"golf", "volleyball", "tennis", "basketball"}

c = a.union(b)
print(c)

{'golf', 'football', 'volleyball', 'baseball', 'tennis', 'basketball'}

<a class="anchor" id="17"></a>
<div class="alert alert-block alert-info">
<b><font size="4">17. update()</font></b></div>

- Update the set with another set, or any other iterable

In [44]:
x = {"red", "blue", "yellow"}
y = {"green", "purple", "orange"}

x.update(y)
print(x)

{'orange', 'blue', 'red', 'green', 'purple', 'yellow'}