# <center><b>Python for Data Science</b></center>
# <center><b>Lesson 14</b></center>
# <center><b>Tuples -- Part Two (Notes)</b></center>

<center><i>Adapted from:</i></center>
<center>*****************</center>

<center>How to Think Like a Computer Scientist: Interactive Edition</center>

<b>Resources:<br></b>

- [How to Think Like a Computer Scientist: Interactive Edition](https://runestone.academy/ns/books/published/thinkcspy/index.html)
***
- [Python Tuples -- Stanford Computer Science](https://cs.stanford.edu/people/nick/py/python-tuple.html)

- [Python Tuples (pynative)](https://pynative.com/python-tuples/)

- [Python Tuples (w3schools](https://www.w3schools.com/python/python_tuples.asp)

##  <span style="color:green">TABLE OF CONTENTS</span>

1. [Tuples and Mutability](#1)<br>
a. [Accessing Elements of a Tuple ](#1a)<br>
b. [Tuple Slices](#1b)<br>
c. [Tuples Are Immutable](#1c)<br>
2. [Tuple Assignment](#2)<br>
a. [Swapping values of variables by using tuple assignment](#2a)<br>
3. [Tuples as Return Values](#3)<br>

In [2]:
# set up notebook to display multiple output in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("This notebook is now set up to display multiple output in one cell.")

This notebook is now set up to display multiple output in one cell.

<div class="alert alert-block alert-warning"><b>For this interactive presentation, you will read through this notebook then complete the Practice Problems that are found in the green cells below. </b></div>

<a class="anchor" id="1"></a>
<a class="anchor" id="T1"></a>
<div class="alert alert-block alert-info">
<b><font size="4">1. Tuples and Mutability</font></b></div>

- So far you have seen two types of sequential collections: strings, which are made up of characters; and lists, which are made up of elements of any type. 
- One of the differences we noted is that the elements of a list can be modified, but the characters in a string cannot. In other words, strings are immutable and lists are mutable.
- A tuple, like a list, is a sequence of items of any type. Unlike lists, however, tuples are immutable. 
- Syntactically, a tuple is a comma-separated sequence of values. 
- Although it is not necessary, it is conventional to enclose tuples in parentheses:

In [1]:
# tuple example

aaron = ("Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
         37, "6 ft 2 in", "225 lbs")

print(aaron)
print(type(aaron))
print(len(aaron))

('Aaron', 'Rodgers', 'Quarterback', 'Green Bay Packers', 12, 'California', 37, '6 ft 2 in', '225 lbs')
<class 'tuple'>
9

<div class="alert alert-block alert-success"><b>Practice Problem 1</b>:

1. Pick out a famous person and use that person's first name as the name of a variable. Create a tuple that you will assign to that variable that contains a number of pertinent pieces of information about that person (like I did in the Aaron Rodgers example above).
2. Write code to print out the variable that you created in Step #1.
3. Write code to print out the data type of the variable that you created in Step 1.
4. Write code to print out the number of items that are in the tuple that you created above.
</div>

<a class="anchor" id="1a"></a>
### a. Accessing Elements of a Tuple

In [29]:
aaron[0]
aaron[5]
aaron[8]
aaron[-3]

'Aaron'

'California'

'225 lbs'

37

<a class="anchor" id="1b"></a>
### b. Tuple Slices

In [34]:
print(aaron[4:7])
print(aaron[6:])
print(aaron[:5])
print(aaron[-7:-3])

(12, 'California', 37)
(37, '6 ft 2 in', '225 lbs')
('Aaron', 'Rodgers', 'Quarterback', 'Green Bay Packers', 12)
('Quarterback', 'Green Bay Packers', 12, 'California')

- Tuples are useful for representing what other languages often call **records** — some related information that belongs together, like your student record. 
- There is no description of what each of these fields means, but we can guess. 
- A tuple lets us “chunk” together related information and use it as a single thing.
- Tuples support the same sequence operations as strings and lists. 
- For example, when we study loops in an upcoming unit, we will find out that the index operator selects an element from a sequence and a tuple can be the sequence in a for-loop.
- As with strings, if we try to use item assignment to modify one of the elements of the tuple, we get an error.

<a class="anchor" id="1c"></a>
### c. Tuples Are Immutable

In [12]:
# Review -- Modifying a list 

aaron_list = ["Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
              37, "6 ft 2 in", "225 lbs"]
print(aaron_list)
print(type(aaron_list))
print(id(aaron_list))

print()

aaron_list[3] = "Denver Broncos"
print(aaron_list)
print(type(aaron_list))
print(id(aaron_list))

['Aaron', 'Rodgers', 'Quarterback', 'Green Bay Packers', 12, 'California', 37, '6 ft 2 in', '225 lbs']
<class 'list'>
2204049563776

['Aaron', 'Rodgers', 'Quarterback', 'Denver Broncos', 12, 'California', 37, '6 ft 2 in', '225 lbs']
<class 'list'>
2204049563776

In [13]:
# Attempt to modify a tuple ... leads to an error message

aaron_tuple = ("Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
               37, "6 ft 2 in", "225 lbs")
print(aaron_tuple)
print(type(aaron_tuple))
print(id(aaron_tuple))

print()

aaron_tuple[3] = "Denver Broncos"
print(aaron_tuple)

('Aaron', 'Rodgers', 'Quarterback', 'Green Bay Packers', 12, 'California', 37, '6 ft 2 in', '225 lbs')
<class 'tuple'>
2204049307120

TypeError: 'tuple' object does not support item assignment

- Of course, even if we can’t modify the elements of a tuple, we can make a variable reference a new tuple holding different information. 
- To construct the new tuple, it is convenient that we can slice parts of the old tuple and join up the bits to make the new tuple. 
- So assume aaron has a new team, and we want to change his tuple to represent that new information. We can easily slice off the parts we want and concatenate them with the new tuple.

In [14]:
# Constructing a new tuple that contains some of the information from another tuple

aaron = ("Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
         37, "6 ft 2 in", "225 lbs")
print(aaron)
print(type(aaron))
print(id(aaron))
print()

aaron = aaron[:3] + ("Denver Broncos", 4) + aaron[5:]
print(aaron)
print(type(aaron))
print(id(aaron))

('Aaron', 'Rodgers', 'Quarterback', 'Green Bay Packers', 12, 'California', 37, '6 ft 2 in', '225 lbs')
<class 'tuple'>
2204049803072

('Aaron', 'Rodgers', 'Quarterback', 'Denver Broncos', 4, 'California', 37, '6 ft 2 in', '225 lbs')
<class 'tuple'>
2204038226096

### Visualize the code execution for the example above.

[Python Tutor -- Visualize Code Execution](https://pythontutor.com/visualize.html#mode=edit)

- To create a tuple with a single element (admittedly, you’re probably not very likely to do that too often), we must include the final comma, because without the final comma, Python will treat the variable as a different data type.

In [15]:
# Single-item tuples ... must include the final comma

tuple = (10,)
print(tuple, type(tuple))
print()

not_tuple = (10)
print(not_tuple, type(not_tuple))
print()

tuple = ("cat",)
print(tuple, type(tuple))
print()

not_tuple = ("cat")
print(not_tuple, type(not_tuple))
print()

tuple = (3.14,)
print(tuple, type(tuple))
print()

not_tuple = (3.14)
print(not_tuple, type(not_tuple))

(10,) <class 'tuple'>

10 <class 'int'>

('cat',) <class 'tuple'>

cat <class 'str'>

(3.14,) <class 'tuple'>

3.14 <class 'float'>

<a class="anchor" id="2"></a>
<a class="anchor" id="T1"></a>
<div class="alert alert-block alert-info">
<b><font size="4">2. Tuple Assignment</font></b></div>

- Python has a very powerful tuple assignment feature that allows a tuple of variables on the left of an assignment to be assigned values from a tuple on the right of the assignment.

In [16]:
# Assigning a tuple of values (right side of assignment) 
# to a tuple of variables (left side of assignment)

aaron = ("Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
         37, "6 ft 2 in", "225 lbs")

(first_name, last_name, position, team, number, college, age, height, weight) = aaron

print(first_name)
print(last_name)
print(position)
print(team)
print(number)
print(college)
print(age)
print(height)
print(weight)

print()

# You can apply this to f-strings
print(f'{first_name} {last_name} is the {position} for the {team}.')

Aaron
Rodgers
Quarterback
Green Bay Packers
12
California
37
6 ft 2 in
225 lbs

Aaron Rodgers is the Quarterback for the Green Bay Packers.

- In the example above, the tuple assignment does the equivalent of nine individual assignment statements, and it did this all on one easy line. 
- One requirement is that the number of variables on the left must match the number of elements in the tuple on the right.

<div class="alert alert-block alert-success"><b>Practice Problem 2</b>:

<b>Given</b>:
<p>&nbsp;</p>
Information about an employee ...

Jane Smith, Female, 37, Married, Accountant, Deloitte, Marquette, Mequon, Wisconsin

1. Create a tuple of values and assign that tuple to a variable named employee. Write code to print out employee, the data type that employee is, and the number of items in employee.  Feel free to use f-string formatting to enhance your output.
2. Create a tuple of variables to represent the tuple of values from Part 1 and assign the variable employee to that tuple. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith is a 37 year old accountant who graduated from Marquette University.</i>
<p>&nbsp;</p>    
3. Jane just had a birthday and she also moved to Wauwatosa and is now working for Ernst & Young.  Use the original tuple to create a new tuple with the same name that includes this updated information.  Print out the new tuple.
4. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith has moved to Wauwatosa and is now working for Ernst & Young.</i>
</div>

<a class="anchor" id="2a"></a>
### a. Swapping values of variables by using tuple assignment

- Once in a while, it is useful to swap the values of two (or more) variables. 
- With conventional assignment statements, we have to use a temporary variable to swap the values of two (or more) variables.

<b>Observe the following in the examples below:</b>

- The left side is a tuple of variables; the right side is a tuple of values. 
- Each value is assigned to its respective variable. 
- <i>All the expressions on the right side are evaluated before any of the assignments. This feature makes tuple assignment quite versatile.</i>

Naturally, the number of variables on the left and the number of values on the right have to be the same.

In [17]:
# Swapping values of 2 variables using conventional assignment ... need to use a temporary variable

wisconsin = "one seed"
ohio_state = "two seed"
print(f'Wisconsin is the {wisconsin} and Ohio State is the {ohio_state}.')

temporary_variable = wisconsin
wisconsin = ohio_state
ohio_state = temporary_variable
print(f'Wisconsin is the {wisconsin} and Ohio State is the {ohio_state}.')

Wisconsin is the one seed and Ohio State is the two seed.
Wisconsin is the two seed and Ohio State is the one seed.

In [21]:
# Swapping values of 2 variables using tuple assignment

wisconsin = "one seed"
ohio_state = "two seed"
print(f'Wisconsin is the {wisconsin} and Ohio State is the {ohio_state}.')

(wisconsin, ohio_state) = (ohio_state, wisconsin)
print(f'Wisconsin is the {wisconsin} and Ohio State is the {ohio_state}.')

Wisconsin is the one seed and Ohio State is the two seed.
Wisconsin is the two seed and Ohio State is the one seed.

In [22]:
# Swapping values of 3 variables using conventional assignment ... need to use a temporary variable

a = 'i'
b = 'g'
c = 'p'
print(a, b, c)

temp_var = a
a = c
c = b
b = temp_var
print(a, b, c)

i g p
p i g

In [23]:
# Swapping values of 2 variables using tuple assignment

a = 'i'
b = 'g'
c = 'p'
print(a, b, c)

(a, b, c) = (c, a, b)
print(a, b, c)

i g p
p i g

In [24]:
# Improper swap ... number of variables on the left and 
# the number of values on the right are not equal

(w, x, y, z) = (10, 20, 30, 40)
print(w, x, y, z)

(w, x, y, z) = (z, y, x)
print(w, x, y, z)

10 20 30 40

ValueError: not enough values to unpack (expected 4, got 3)

<div class="alert alert-block alert-success"><b>Practice Problem 3</b>:

NFC NORTH Standings week 7                 

first = "Chicago"                        
second = "Green Bay"                      
third = "Minnesota"                      
fourth = "Detroit"  
    
NFC NORTH Standings week 10<br >

first = "Green Bay"<br>
second = "Minnesota"<br>
third = "Chicago"<br>
fourth = "Detroit"<br>

1. Create a tuple of values for place and a tuple of variables for team that represent the week 7 standings.  Assign the tuple for place to the tuple for team. Use f-string formatting to print out the week 7 standings.
2. Perform a variable swap to represent the changes that appear in the week 10 standings. Use f-string formatting to print out the week 10 standings.
    
</div>

<a class="anchor" id="3"></a>
<a class="anchor" id="T1"></a>
<div class="alert alert-block alert-info">
<b><font size="4">3. Tuples as Return Values</font></b></div>

### This is just a quick look ahead to functions, which we will cover in Unit 19.  

- Functions can return tuples as return values. 
- This is very useful — we often want to know some pitcher’s highest and lowest ERA, or we want to find the mean and the standard deviation, or we want to know the year, the month, and the day, or if we’re doing some ecological modeling we may want to know the number of rabbits and the number of wolves on an island at a given time. 
- In each case, a function (which can only return a single value), can create a single tuple holding multiple elements.

In [18]:
def circleInfo(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return (c, a)

print(circleInfo(5))

(31.4159, 78.53975)