# <center><b>PFDS</b></center>
# <center><b>Asg 14.2</b></center>
# <center><b>Sets (Coding)</b></center>

In [1]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("The notebook is now set up to display multiple output in one cell'")

The notebook is now set up to display multiple output in one cell'

<div class="alert alert-block alert-success"><b>Problem 1</b>:

Given:<br>
    
<b>Important Python Libraries for Data Science:</b><br>

Pandas, NumPy, SciPy, Scikit-Learn, Matplotlib, Plotly, Seaborm. Statsmodels<br>

a. Pass a list to the set() function to intialize a set called <b>libraries_set1</b> that contains the <b>Important Python Libraries for Data Science</b> as its values.<br>
b. Print out the the set that you initialized in Part (a) and use the type() function to check that it is a set.<br>
c. Pass a tuple to the set() function to intialize a set called <b>libraries_set2</b> that contains the <b>Important Python Libraries for Data Science</b> as its values.<br>
d. Print out the the set that you initialized in Part (c) and use the type() function to check that it is a set.<br>
e. Use curly braces { } to intialize a set called <b>libraries_set3</b> that contains the <b>Important Python Libraries for Data Science</b> as its values.<br>
f. Print out the the set that you initialized in Part (e) and use the type() function to check that it is a set.<br>
</div>

In [3]:
libraries_set1 = set(['Pandas', 'NumPy', 'SciPy', 'Scikit-Learn', 'Matplotlib', 'Plotly', 'Seaborm', 'Statsmodels'])
print(libraries_set1, type(libraries_set1))
libraries_set2 = set(('Pandas', 'NumPy', 'SciPy', 'Scikit-Learn', 'Matplotlib', 'Plotly', 'Seaborm', 'Statsmodels'))
print(libraries_set2, type(libraries_set2))
libraries_set3 = ({'Pandas', 'NumPy', 'SciPy', 'Scikit-Learn', 'Matplotlib', 'Plotly', 'Seaborm', 'Statsmodels'})
print(libraries_set3, type(libraries_set3))

{'Pandas', 'NumPy', 'SciPy', 'Statsmodels', 'Scikit-Learn', 'Seaborm', 'Plotly', 'Matplotlib'} <class 'set'>
{'Pandas', 'NumPy', 'SciPy', 'Statsmodels', 'Scikit-Learn', 'Seaborm', 'Plotly', 'Matplotlib'} <class 'set'>
{'Pandas', 'NumPy', 'SciPy', 'Statsmodels', 'Scikit-Learn', 'Seaborm', 'Plotly', 'Matplotlib'} <class 'set'>

<div class="alert alert-block alert-success"><b>Problem 2</b>:

a. Initialize a set called <b>greater_metro_set</b> that includes the values Menomonee Falls, Germantown, Marquette, West Allis Hale, Sussex Hamilton, Brookfield Central, and Wauwatosa West.<br>
b. Print out the set that you initialized in Part(a).<br>
c. Write code to add the values Brookfield East and Wauwatosa East to the set that you initialized in Part(a).<br>
d. Print out the set that resulted from doing Part (c).
</div>

In [8]:
greater_metro_set = {' Menomonee Falls', 'Germantown', 'Marquette', 'West Allis Hale', 'Sussex Hamilton', 'Brookfield Central', 'Wauwatosa West'}
print(greater_metro_set)
greater_metro_set.add('Brookfield East')
greater_metro_set.add('Wauwatosa East')
print(greater_metro_set)

{'Marquette', 'West Allis Hale', ' Menomonee Falls', 'Sussex Hamilton', 'Brookfield Central', 'Germantown', 'Wauwatosa West'}
{'Brookfield East', 'Wauwatosa East', 'Sussex Hamilton', 'Germantown', 'Wauwatosa West', ' Menomonee Falls', 'Marquette', 'West Allis Hale', 'Brookfield Central'}

<div class="alert alert-block alert-success"><b>Problem 3</b>:

a. Initialize a set called <b>states</b> that includes the values Texas, Florida, California, Chicago, Maryland, San Francisco, Oregon, and, Vermont.<br>
b. Print out the set that you initialized in Part(a).<br>
c. Use both the remove() method and the discard() method to remove Chicago and San Francisco from the set that you initialized in Part(a).<br>
d. Print out the set that resulted from doing Part (c).<br>
e. Write code to remove all of the values from the set that you printed in Part (d).
</div>

In [11]:
states = { 'Texas', 'Florida', 'California', 'Chicago', 'Maryland', 'San Francisco', 'Oregon', 'Vermont'}
print(states)
states.remove('Chicago')
states.remove('San Francisco')
print(states)
states.clear()
print(states)

{'San Francisco', 'California', 'Maryland', 'Chicago', 'Texas', 'Oregon', 'Vermont', 'Florida'}
{'California', 'Maryland', 'Texas', 'Oregon', 'Vermont', 'Florida'}
set()

<div class="alert alert-block alert-success"><b>Problem 4</b>:
 
a. Initialize a set called <b>big_cities</b> that includes the values New York, Chicago, Los Angeles, Boston, Houston, and Philadelphia.<br>
b. Print out the set that you initialized in Part(a).<br>
c. Write and print out code to put the values of the set from Parts a & b in an ordered form. <br>
d. Use the type() function to check the type of your result from Part (c)
</div>

In [13]:
big_cities = {'New York', 'Chicago', 'Los Angeles', 'Boston', 'Houston', 'Philadelphia'}
print(big_cities)
print(sorted(big_cities))
print(type(sorted(big_cities)))

{'Chicago', 'Houston', 'New York', 'Boston', 'Los Angeles', 'Philadelphia'}
['Boston', 'Chicago', 'Houston', 'Los Angeles', 'New York', 'Philadelphia']
<class 'list'>

<div class="alert alert-block alert-success"><b>Problem 5</b>:<br>
    
a. Create a list called <b>foods_list</b> that includes the values pizza, cake, apples, cake, chicken, apples, lobster, pizza, and cake.<br> 
b. Print out the list that you created in Part (a).<br>
c. Write code that uses sets to remove all of the duplicates that are found in the list that you created in Part (a).<br>
d. Print out the set that resulted from doing Part (c).<br>
e. Convert the set from Part (d) into a list and print out the result. 
</div>

In [15]:
foods_list = (['pizza', 'cake', 'apples', 'cake', 'chicken', 'apples', 'lobster', 'pizza', 'cake'])
print(foods_list)
foods_list = set(foods_list)
print(foods_list)
foods_list = list(foods_list)
print(foods_list)

['pizza', 'cake', 'apples', 'cake', 'chicken', 'apples', 'lobster', 'pizza', 'cake']
{'chicken', 'cake', 'pizza', 'lobster', 'apples'}
['chicken', 'cake', 'pizza', 'lobster', 'apples']

<div class="alert alert-block alert-success"><b>Problem 6</b>:<br>

a. Initialize the two sets <b>subjects_set1</b> and <b>subjects_set2</b> which have the values indicated below.

- subjects_set1: Calculus, Chemistry, Spanish, APUSH, PE
- subjects_set2: Calculus, Biology, French, APUSH, Health
    
b. Print out the two sets that you initialized in Part (a).<br>
c. Print out the union of the two sets that you initialized in Part (a).<br>
d. Print out the intersection of the two sets that you initialized in Part (a).<br>
e. Print out the difference of the two sets that you initialized in Part (a).<br>
f. Print out the symmetric difference the two sets that you initialized in Part (a).<br>
</div>

In [19]:
subjects_set1 = {'Calculus', 'Chemistry', 'Spanish', 'APUSH', 'PE'}
subjects_set2 = {'Calculus', 'Biology', 'French', 'APUSH', 'Health'}
print(subjects_set1)
print(subjects_set2)
print(subjects_set1.union(subjects_set2))
print(subjects_set1.intersection(subjects_set2))
print(subjects_set1.difference(subjects_set2))
print(subjects_set1.symmetric_difference(subjects_set2))

{'Calculus', 'APUSH', 'Spanish', 'PE', 'Chemistry'}
{'Calculus', 'APUSH', 'French', 'Biology', 'Health'}
{'Calculus', 'French', 'Spanish', 'Biology', 'Health', 'APUSH', 'PE', 'Chemistry'}
{'Calculus', 'APUSH'}
{'Spanish', 'Chemistry', 'PE'}
{'French', 'Spanish', 'PE', 'Chemistry', 'Biology', 'Health'}