# <center><b>PFDS</b></center>
# <center><b>Asg 14.1</b></center>
# <center><b>Tuples (Coding)</b></center>

In [1]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("The notebook is now set up to display multiple output in one cell'")

The notebook is now set up to display multiple output in one cell'

In [ ]:
# tuple example

aaron = ("Aaron", "Rodgers", "Quarterback", "Green Bay Packers", 12, "California", 
         37, "6 ft 2 in", "225 lbs")

print(aaron)
print(type(aaron))
print(len(aaron))

<div class="alert alert-block alert-success"><b>Problem 1</b>:
    
<b>Note:  This was Practice Problem \#1 in the 14 Tuples -- Part Two (Notes).</b>

1. Pick out a famous person and use that person's first name as the name of a variable. Create a tuple that you will assign to that variable that contains a number of pertinent pieces of information about that person (like I did in the Aaron Rodgers example above).
2. Write code to print out the variable that you created in Step #1.
3. Write code to print out the data type of the variable that you created in Step 1.
4. Write code to print out the number of items that are in the tuple that you created above.
</div>

In [6]:
Vahagn =("Vahagn", "Khachaturyan", "President of Armenia", "Let Nagorno-Karabakh fall to Azerbaijan", 
        "spearheading Armenia to the West & away from Russia")

In [7]:
print(Vahagn)

('Vahagn', 'Khachaturyan', 'President of Armenia', 'Let Nagorno-Karabakh fall to Azerbaijan', 'spearheading Armenia to the West & away from Russia')

In [8]:
print(type(Vahagn))

<class 'tuple'>

In [9]:
print(len(Vahagn))

5

<div class="alert alert-block alert-success"><b>Problem 2</b>:
    
<b>Note:  This was Practice Problem \#2 in the 14 Tuples -- Part Two (Notes).</b>
<p>&nbsp;</p>    
<b>Given</b>:

Information about an employee ...
<p>&nbsp;</p>
Jane Smith, Female, 37, Married, Accountant, Deloitte, Marquette, Mequon, Wisconsin

1. Create a tuple of values and assign that tuple to a variable named employee. Write code to print out employee, the data type that employee is, and the number of items in employee.  Feel free to use f-string formatting to enhance your output.
2. Create a tuple of variables to represent the tuple of values from Part 1 and assign the variable employee to that tuple. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith is a 37 year old accountant who graduated from Marquette University.</i>
<p>&nbsp;</p>    
3. Jane just had a birthday and she also moved to Wauwatosa and is now working for Ernst & Young.  Use the original tuple to create a new tuple with the same name that includes this updated information.  Print out the new tuple.
4. Use f-string formatting to print out the following statement:
    
    <i>Jane Smith has moved to Wauwatosa and is now working for Ernst & Young.</i>
</div>

In [51]:
employee = ("Jane Smith", "Female", 37, "Married", "Accoutant", "Deloitte", "Marquette", "Mequon", "Wisconsin")
print(f"{employee} is of the data type {type(employee)} and the employees infromation has a length of {len(employee)}")

('Jane Smith', 'Female', 37, 'Married', 'Accoutant', 'Deloitte', 'Marquette', 'Mequon', 'Wisconsin') is of the data type <class 'tuple'> and the employees infromation has a length of 9

In [52]:
(name, gender, age, status, job, company, college, city, state) = employee
print(f"{name} is a {age} year old {job} who gratuated from {college} University")

Jane Smith is a 37 year old Accoutant who gratuated from Marquette University

In [53]:
employee = employee[0:2]+ (38,) +employee[3:5]+("Ernst & Young",)+employee[6:7]+("Wauwatosa",)+employee[8:]
print(employee)
(name, gender, age, status, job, company, college, city, state) = employee

('Jane Smith', 'Female', 38, 'Married', 'Accoutant', 'Ernst & Young', 'Marquette', 'Wauwatosa', 'Wisconsin')

In [54]:
print(f"{name} has moved to {city} and is now working for {company}")

Jane Smith has moved to Wauwatosa and is now working for Ernst & Young

<div class="alert alert-block alert-success"><b>Problem 3</b>:
    
<b>Note:  This was Practice Problem \#3 in the 14 Tuples -- Part Two (Notes).</b><br>

<p>&nbsp;</p>
    
NFC NORTH Standings week 7                 

first = "Chicago"                        
second = "Green Bay"                      
third = "Minnesota"                      
fourth = "Detroit"  
    
NFC NORTH Standings week 10<br >

first = "Green Bay"<br>
second = "Minnesota"<br>
third = "Chicago"<br>
fourth = "Detroit"<br>

1. Create a tuple of values for place and a tuple of variables for team that represent the week 7 standings.  Assign the tuple for place to the tuple for team. Use f-string formatting to print out the week 7 standings.
2. Perform a variable swap to represent the changes that appear in the week 10 standings. Use f-string formatting to print out the week 10 standings.
    
</div>

In [67]:
places = ("Chicago", "Green Bay", "Minnesota", "Detroit")
(first, second, third, fourth) = places
print(f"1st: {first}, 2nd: {second}, 3rd: {third}, 4th: {fourth}")

1st: Chicago, 2nd: Green Bay, 3rd: Minnesota, 4th: Detroit

In [68]:
(first, second, third) = (second, third, first)
print(f"1st: {first}, 2nd: {second}, 3rd: {third}, 4th: {fourth}")

1st: Green Bay, 2nd: Minnesota, 3rd: Chicago, 4th: Detroit

<div class="alert alert-block alert-success"><b>Problem 4</b>:
 
Write code to reverse the given tuple. 

- your_tuple = ("cat", 51. [9, "dog", "car", 4.3]. "house", 16.5)
</div>

In [73]:
your_tuple = ("cat", 51, [9, "dog", "car", 4.3], "house", 16.5)
(first, second, third, fourth, fifth) = your_tuple
your_tuple = (fifth, fourth, third, second, first)
print(your_tuple)

(16.5, 'house', [9, 'dog', 'car', 4.3], 51, 'cat')

<div class="alert alert-block alert-success"><b>Problem 5</b>:
    
Write code to access and print out the value 55 from the following tuple.

- tuple_mixed = (27, [19, "soccer"], 31.6, ("baseball", "football", "golf"), ["hat", 55, "shoes", 29])
  
</div>

In [75]:
tuple_mixed = (27, [19, "soccer"], 31.6, ("baseball", "football", "golf"), ["hat", 55, "shoes", 29])
(first, second, third, fourth, fifth) = tuple_mixed
print(fifth[1])

55

<div class="alert alert-block alert-success"><b>Problem 6</b>:
    
Write code to create a tuple with the single item "Halloween". Name the tuple that you create <b>atuple</b>. Print out <b>atuple</b>.

</div>

<div class="alert alert-block alert-success"><b>Problem 7</b>:
    
Write code to unpack the following tuple into 4 variables named a, b, c, and d.
    
- our_tuple = ("North", "South", "East", "West")

</div>

<div class="alert alert-block alert-success"><b>Problem 8</b>:
    
Write code to swap the following two tuples. Print out the results.
    
- tuple_1(17, "Brookfield")
<p>&nbsp;</p> 
- tuple_2("Milwaukee", 71)
</div>

<div class="alert alert-block alert-success"><b>Problem 9</b>:
    
Write code to copy elements "Brookfield" and "Elm Grove from the <b>tuple_1</b> into a new tuple named <b>tuple_2</b>.

- tuple_1 = ("Atlanta", "Brookfield", "Chicago", "Elm Grove", "Los Angeles", "New York")

</div>

<div class="alert alert-block alert-success"><b>Problem 10</b>:
    
Write code to modify the first item (22) of a list that is inside of the given tuple to 222

- my_tuple = (11, [22, 33], 44, 55)

</div>

<div class="alert alert-block alert-success"><b>Problem 11</b>:
    
11. Write code to count the number of occurrences of the element 10 from the given tuple. Print out the result.
 <p>&nbsp;</p>    

- tuple_int = (30, 10, 20, 10, 10, (10, 20, 30), 10, 20, 30, [10, 20, 30], "10")
    
</div>