## <center><b>07 Types of Python Operators</b></center>
# <center><b>Asg 7.1 (JN Asg)</b></center>

In [2]:
# set up notebook to display multiple output in one cell

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print('The notebook is set up to display multiple output in one cell.')

The notebook is set up to display multiple output in one cell.

<div class="alert alert-block alert-success">
<b>Question 1:</b><br>
    
<b>True or False:</b>&emsp; Operations involving a float always produce a float.
</div>

In [ ]:
print("true")

<div class="alert alert-block alert-success">
<b>Question 2:</b><br>
    
a. Calculate 5 ** 2 ** 3<br>
b. How could you rewrite the problem above using parentheses to guarantee that the correct order of operations is being used?<br>
c. When doing successive exponentiation, like in part (a) above, which operator gets done first -- the right-most operator or the left-most operator?

</div>

In [3]:
print(5**2**3)

390625

In [4]:
print(5**(2**3))

390625

In [ ]:
print("The right-most operator")

<div class="alert alert-block alert-success">
<b>Question 3:</b><br>
    
a. Write code to find the remainder when 7894 is divided by 37<br>
b. Write code to find the number of full hours in 598 minutes.

</div>

In [5]:
print(7894 % 37)

13

In [6]:
print(int(598/60))

9

<div class="alert alert-block alert-success">
<b>Question 4:</b><br>
    
a. List the 6 relational operators and verbally describe what they mean.<br>
b. Fill in the blanks: Relational operators _____________ two values and then return either a ________ or _______ value.
</div>

In [7]:
print("greater than (>), less than(<), equal to(==). greater than or equal to(>=), less than or equal to(<=), not equal to(!=)")

greater than (>), less than(<), equal to(==). greater than or equal to(>=), less than or equal to(<=), not equal to(!=)

In [8]:
print('compare, true, false')

require, true or false

<div class="alert alert-block alert-success">
<b>Question 5:</b><br>

Given: x = 100 and y = 5
    
a. Show 2 different ways to update x to take on the value x + y. Print out your results.<br>
b. Show 2 different ways to update x to take on the value x - y. Print out your results.<br>
c. Show 2 different ways to update x to take on the value x * y. Print out your results.<br>
d. Show 2 different ways to update x to take on the value x / y. Print out your results.<br>

</div>

In [9]:
x = 100
y = 5
x +=y
print(x)
x = 100
y = 5
x = x + y
print(x)

105
105

In [10]:
x = 100
y = 5
x -=y
print(x)
x = 100
y = 5
x = x - y
print(x)

95
95

In [11]:
x = 100
y = 5
x *=y
print(x)
x = 100
y = 5
x = x * y
print(x)

500
500

In [12]:
x = 100
y = 5
x /=y
print(x)
x = 100
y = 5
x = x / y
print(x)

20.0
20.0

<div class="alert alert-block alert-success">
<b>Question 6:</b><br>

Given: a = 753, b = 19, c = 4, and d = 3
    
a. Show 2 different ways to update a to take on the value of the remainder when a is divided by b. Print out your results.<br>
b. Show 2 different ways to update a to take on the value of the integer part when a is divided by b. Print out your results.<br>
c. Show 2 different ways to update c to take on the value of the when c is raised to the d power. Print out your results.<br>
 
</div>

In [13]:
a = 753
b = 19
a %= b
print(a)
a = 753
b = 19
a = a % b
print(a)

12
12

In [15]:
a = 753
b = 19
a //= b
print(a)
a = 753
b = 19
a = a // b
print(a)

39
39

In [18]:
c = 4
d = 3
c **= d
print(c)
c = 4
d = 3
c = c ** d
print(c)

64
64

<div class="alert alert-block alert-success">
<b>Question 7:</b><br>
    
What value will the following statements return?

a. False and False<br>
b. False and True<br>
c. 100 > 75 and 10 != 10<br>
d. (21/3 >= 7 and 50 !=73) and True<br>

Fill in the Blank:  The <b>and</b> logical operator returns _______ if both values are True. Otherwise, it returns ________.

</div>

In [24]:
print("false")

false

In [23]:
print("false")

false

In [22]:
print('false')

false

In [19]:
print('true')

true

In [21]:
print('true, false')

true, false

<div class="alert alert-block alert-success">
<b>Question 8:</b><br>
    
What value will the following statements return?

a. False or False<br>
b. True or False<br>
c. 20 != 20 or 17 <= 12<br>
d. 35 >= 120 - 80 or (False and 2 ** 3 == 8)<br>
e. (73 // 10 == 7 and 85 % 9 >= 3) or (False and True)<br>

Fill in the Blank:  The <b>or</b> logical operator returns _______ if at least one value is True. Otherwise, it returns ________.

</div>

In [ ]:
print('false')

In [ ]:
print('true')

In [ ]:
print('false')

In [ ]:
print('false')

In [ ]:
print('true')

In [ ]:
print('true, false')

<div class="alert alert-block alert-success">
<b>Question 9:</b><br>
    
What value will the following statements return?

a. not(16 // 5 > 4 and True)<br>
b. not(True and True)<br>
c. not(64 % 10 == 4<br>

Fill in the Blank:  The logical <b>not</b> operator returns _____ if an expression is true and returns ______ if an expression is false.

</div>

In [ ]:
print('true')

In [ ]:
print('false')

In [ ]:
print('false')

In [ ]:
print('false, true')

<div class="alert alert-block alert-success">
<b>Question 9:</b><br>
    
What value will the following statements return?

a. 3 in [24 // 7, 34, "Python"]<br>
b. "apple" in ["orange", "peach", "strawberry"]<br>
c. "Packers in ["Bears", "Lions", "packers", "Vikings"]<br>
d.  "sun" in "Sunday"<br>
e.  "sun" in "sunday"<br>

Fill in the Blank:  The <b>in</b> operator returns _______ if the first value is in the second set of values. Otherwise, it returns ______.

</div>

In [ ]:
print('true')

In [ ]:
print('false')

In [ ]:
print('false')

In [ ]:
print('false')

In [ ]:
print('true')

In [ ]:
print('true, false')

<div class="alert alert-block alert-success">
<b>Question 10
:</b><br>
    
What value will the following statements return?

a. 13 not in [135 // 10, 72, "Data"]<br>
b. "apple" not in ["orange", "peach", "strawberry"]<br>
c. "Packers not in ["Bears", "Lions", "packers", "Vikings"]<br>
d.  "sun" not in "Sunday"<br>
e.  "sun" not in "sunday"<br>

Fill in the Blank:  The <b>not in</b> operator returns _______ if the first value is in the second set of values. Otherwise, it returns ______.

</div>

In [ ]:
print('false')

In [ ]:
print('true')

In [ ]:
print('true')

In [ ]:
print('true')

In [ ]:
print('false')

In [ ]:
print('false, true')

In [ ]:
print('true')

<div class="alert alert-block alert-success">
<b>Question 11:</b><br>
    
a. What value will the following statements return?<br>

a = 16 // 5<br>
b = 2 + 1<br>
a is b<br>

<p>&nbsp;</b>

b. What value will the following statements return?<br>

x = 11<br>
y = 14<br>
z = 25.0<br>
x + y is z<br>

<p>&nbsp;</b>

c. What value will the following statements return?<br>

2 is "2"<br>

<p>&nbsp;</b>

d. Fill in the Blank:  The <b>is</b> operator returns ______ if the first value is the same as the second value Otherwise, it returns ______.<br>

</div>

In [29]:
print('true')

false

In [ ]:
print('false')

In [ ]:
print('false')

In [ ]:
print('true, false')

<div class="alert alert-block alert-success">
<b>Question 12</b><br>
    
a. What value will the following statements return?<br>

a = 35 // 6<br>
b = 34 -29 <br>
a is not b<br>

<p>&nbsp;</b>

b. What value will the following statements return?<br>

x = 20 // 3<br>
y = 20 / 3<br>
x is not y<br>

<p>&nbsp;</b>

c. What value will the following statements return?<br>

10 is not "10"<br>

<p>&nbsp;</b>

d. Fill in the Blank:  The <b>is not</b> operator returns ______ if the first value is not the same as the second value Otherwise, it returns ______.<br>

</div>

In [ ]:
print('false')

In [ ]:
print('true')

In [ ]:
print('true')

In [ ]:
print('true, false')